<div style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center;">
  <div style="text-align: center; padding-bottom: 24px; padding-top: 24px;">Welcome to a sample Angular Micro Frontend </div>
  <button *ngIf="!reactLoaded" (click)="launchReactMicroFrontend()">Click me to open up a React Micro Frontend</button>
  <div *ngIf="loadingReact">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"/>
  </div>
  <div style="display: flex;" id="react-micro-frontend"></div>
</div>